body {
    background-image: url(../img/background/stardust.png);
}

#game-board img {
    width: 7%;
    height: 7%;
    padding: 6px;
    box-sizing: border-box;
}

#game-board img:hover{
	background: yellow;
}

h1, body, head {
    color: #A2A1A8;
    text-align: center;
    list-style-type: none;
}

ul{
	list-style-type: none;
}