body {
    background-image: url(../img/background/stardust.png);
}

#game-board img {
    width: 20%;
    height: 20%;
    padding: 8px;
    box-sizing: border-box;

}

h1, body, head {
    color: #A2A1A8;
    text-align: center;
    list-style-type: none;
}

ul{
	list-style-type: none;
}